---
import '@/styles/globals.css'
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '@/components/ui/card'
import { CodeEditor } from '@/components/ui/code-editor'
import { AttemptIndicator } from '@/components/ui/attempts-indicator'
import { Toaster } from "@/components/ui/toaster"
import { challenge  } from "@/challenge"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Codle</title>
	</head>
	<body>
        <div class="h-screen flex-1 flex justify-center items-center ">
            <Card className='w-[60vw]' >
                 <CardHeader>
                    <CardTitle className='flex flex-row'>
                        <div class="flex-1">
                            {challenge.title}
                        </div>
                        <AttemptIndicator client:only/>
                    </CardTitle>
                    <CardDescription>{challenge.description}</CardDescription>
                    <CardDescription>{challenge.example}</CardDescription>
                    <CardDescription>{challenge.requirement}</CardDescription>
                 </CardHeader>
                <CardContent className="flex flex-col">
                    <CodeEditor
                        client:only
                        testScript={challenge.tests}
                    />
                </CardContent>
            </Card>
            <Toaster client:load/>
        </div>
        <script is:inline>
            function checkHasDone() {

                console.log("checkHasDone")

                const hasDone = localStorage.getItem("codle") 

                switch (hasDone) {
                    case "win" :
                        window.location.href = "/done/win"
                        break;
                    case "lose" :
                        window.location.href = "/done/lose"
                        break;
                }

                window.addEventListener("codle", checkHasDone)
            }

            checkHasDone()

        </script>
    </body>
</html>

